body {
    margin: 0;
    top: 0;
    font-family: "Arial", sans-serif;
}

.main-container {
    width: 100%;
}

.container {
    margin: 0 10%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

.header-text {
    padding: 20px 0;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

th {
    font-weight: bold;
}

form {
    margin-top: 20px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}